// Colours
$bg: #ffffff;
$font-text: #2c2c2c;
$font-heading: #191919;

//Containers
//$container-xs: 472px;
//$container-sm: 750px;
//$container-md: 980px;
//$container-lg: 980px;

// Fonts
$font-stack: 'Open Sans', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);