<!DOCTYPE html>
<!--[if lte IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" ng-app="app">
<!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
  </head>
  <body>
    <div id="wrapper">
      <!-- Docs master nav -->
      {{> nav }}
      <!-- Page content of course! -->
      <div class="wrap" role="document" >
        <main class="main container">
          {{> body }}
        </main>
      </div>

      <!-- JS and analytics only. -->
      {{> footer }}
    </div>
  </body>
</html>